<style>
  *{
    background-color: rgba(224, 190, 224,0.06);
  }
  h1{
    text-align: center;
    font-size: 60px;
    color:purple;
    margin-top:20px;
  }
  form{
    display: flex;
    flex-direction: column;
  }
  form input{
    width: 350px;
    margin: 40px auto;
    padding: 15px 0px;
    text-align: center;
    border-radius: 15px;
    font-size: 25px;
    background-color: rgba(250, 210, 31, 0.06);
  }
  #btn{
    width: 150px;
    margin: 0px auto;
    padding: 20px 20px;
    border: 1px solid white;
    background-color: black;
    color:white;
    border-radius: 25px;
  }
  #fp{
        display:flex;
        align-items:center;
        justify-content: center;
        text-decoration: none;
    }
</style>
<h1> Sign Up</h1>
<form>
    <input type = "email" name = "email" placeholder = "Enter Email">
    <input type = "password" name = "password" placeholder = "Enter password">
    <button id = 'btn'>Sign Up</button>
    <br><br>
    <a id = "fp" href = '/login'>Already a account. Sign In</a>
</form>


<script>
    const form = document.querySelector('form');
    form.addEventListener ('submit', async(e)=>{
        e.preventDefault();
        const emailError = document.querySelector('.email');
        const passwordError = document.querySelector('.password');
        const email = form.email.value;
        const password = form.password.value;
       
        try{
            const res = await fetch('/signup',{
                method:'POST',
                body:JSON.stringify({email,password}),
                headers: {'Content-type':'application/json'}
                 });
                 const data = await res.json();
      console.log(data);
      if (data.errors) {
        alert("Sorry, You have Entered Registered/Wrong Email or Invalid Password");
      }
      if (data.user) {
        location.assign('/');
      }
    }
    catch (err) {
      console.log(err);
    }
            });
</script>